// Reset styles
html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, button, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video
  margin 0
  padding 0
*, *:before, *:after
  -webkit-box-sizing border-box
  box-sizing border-box
html
  -webkit-tap-highlight-color transparent
  font-size 50px
h1, h2, h3, h4, h5
  font-size 100%
body
  font-family -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif
  font-size 0.28em
  color $colorGrayDark
a
  text-decoration none
button
  border none
a, input, button, textarea, select
  font-family inherit
  font-size inherit
  line-height inherit
  outline 0
  color inherit
input
  border none
textarea
  resize none
  vertical-align middle
img
  border 0
  display block
  max-width 100%
small
  font-size 80%
ul, ol, li
  list-style none
input, textarea
  placeholder($colorGrayLight)